@media screen and (max-width: 800px) {
  .banner {
    min-width: auto;
  }

  .banner h1 {
    font-size: 1.8rem;
  }

  .banner p {
    font-size: 22px;
  }

  .banner .banner-content {
    width: 100vw;
  }

  .banner .banner-content button {
    margin-top: 30px;
  }

  p {
    font-size: 22px;
    padding: 0px 22px;
    line-height: 50px;
  }

  #course-content {
    width: auto;
    margin-top: 165px;
  }

  #course-content .modules-list .module {
    width: 80%;
  }

  #transform-world {
    min-width: auto;
  }

  #professional-challenges {
    width: auto;
  }

  #professional-challenges img {
    width: 90vw;
  }

  #transform-world {
    min-width: auto;
    padding: 180px 50px 10px;
  }

  footer {
    min-width: auto;
  }
}

@media screen and (max-width: 420px) {
  footer p {
    font-size: 18px;
  }
}

